<form
  action="/search"
  method="get"
  class="d-flex"
  role="search">
  <input
    class="form-control me-2"
    autocomplete="off"
    name="search_query"
    type="search"
    placeholder="Search"
    aria-label="Search"
    required />
  <button
    class="btn btn-dark"
    type="submit">
    <i class="fa fa-search"></i>
  </button>
</form>
